@charset "UTF-8";

@font-face {
    font-family: 'Ablation';
    src: url('../font/Ablation.ttf'), format('truetype');
    font-weight: normal;
}
:root {
    --color1: #080808;
    --color2: #d6d6d6;
    --color3: #ED1C24;
    --color4: #FFC001;
}
* {
    font-family: monospace, arial, helvetica,sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    color: #080808;
}
html {
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
body {
    background: #d6d6d6;
}
.pre {
    background: #0a001d url('../image/art2.png') center no-repeat fixed ;
    background-size: cover;
    height: 100vh;
}
a {
    text-decoration: none;
    color: #080808;
    transition: .3s;
    letter-spacing: 3px;
}
#logo {
    width: 150px;
}
.logo {
    position: absolute;
    top: 0;
    left: 80vw;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;
    height: 100vh;
}
/* seções */
.env-present {
    padding-right: 300px;
}
.env-present h1 {
    font-size: 2.8em;
}
.env-present p {
    font-size: 1.2em;
}
.present {
    transition: .4s;
}
.present h1, .present p {
    color: #d6d6d6;
}
.present:hover {
    transform: scale(1.1);
    width: auto;
    height: auto;
}
::selection{
    background: var(--color1);
    color: var(--color2);
}
#iam {
    font-size: 1.2em;
    letter-spacing: 1px;
    max-width: 800px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2em;
    margin-bottom: 50px;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    padding: 50px;
    overflow: hidden;
}
.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    padding: 50px;
    overflow: hidden;
}
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    padding: 0px 0px;
    overflow: hidden;
}
/* local dos projetos */
.item {
    background: #e3dbdbcb url(../image/art2.png) center no-repeat ;
    background-size: cover;
    width: 33.33%;
    height: 350px;
    transition: .3s;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
/* .item:hover {
    transform: scale(1.1);
    z-index: 2;
} */
/* descrição dos projetos */
.desc {
    position: relative;
    background: #080808cb;
    content: 100%;
    width: 100%;
    height: 50%;
    padding: 20px 30px;
    transform: translateY(200%);
    transition: .3s;
}
.desc h2 {
    font-size: 2em;
    color: var(--color2);
    width: 100%;
   text-align: center;
   margin-bottom: 5px;
}
.desc p{
    font-size: 1em;
    color: var(--color2);
}
.item:hover .desc {
    transform: translateY(100%);
}
.skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.skill .title {
    margin: 0;
}
.env-skill1, .env-skill2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    width: auto;
    height: 400px;
    margin: 0px 80px;
}
.skills {
    max-width: 300px;
    padding: 10px;
    overflow: hidden;
    padding: 0;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #080808;
    width: 100vw;
    height: 8vh;
}
footer p {
    color: #d6d6d6;
}
footer p::selection {
    background: var(--color2);
    color: var(--color1);
}
